*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    
}
.header{
    display: flex;
    background-color: rgb(129, 114, 212);
    color: #fff;
    border: 5px solid orange;
    justify-content: space-around;
}
.menu{
    display: flex;
    gap:15px;
    border: 5px solid red;
    padding:0 10px;
    
}
.link{
    color: #fff;
    line-height: 50px;
    text-decoration: none;
}
.contenedor{
    margin:0 auto;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid orange;
    height: 500px;
    margin-top:50px;
}
.image img{
    width: 600px;
    object-fit: contain;
}
.logo, .contenido{
    border: 5px solid red;
}
.logo{
    padding:10px;
}
.contenido{
    
    width: 45%;
    height: 230px;
    padding:20px;
}
.btn{
    background-color: blueviolet;
    border-radius: 25px;
    padding:10px 20px;
    margin-top:15px;
    color: #fff;
    text-decoration: underline;
    border: none;
    cursor: pointer;
}
@media (max-width: 1332px) {
    .header{
        width: 100%;
    }
    .contenedor{
        display:flex;
        width:100%;
        flex-direction:column-reverse;
        margin-top:100px;
        height: 650px;
    }
    .contenido{
        width:80%;
        min-height:100px;
        text-align: center;
    }
    .parrafo{
        text-align:justify;
    }
    


}